header {
    background-color: #143765;
    font-weight: 32px;
}
.head {
    max-width: auto;
    color: white;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.orange{
    color:#CD6536;
}
.page{
    color:white;
    &:hover {

    }
}